<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="Find and monitor your personal information online." />
<meta name="keywords" content="PrivacySidekick, privacy, sidekick erikj54@gmail.com, @erikj54, erikj" />
<title>PrivacySidekick</title>
<link href="{{ page.style }}" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Reenie+Beanie&subset=latin' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="js/jquery.js"></script>
</head>

<body>

<div class="container">
	<div class="header">
		<h3>Erik Johnson's Blog</h3>
		<a href="http://erikj54.github.com">
			<img src="images/fiftyfour-label.gif" border="0"/>
		</a>
		<div id="links">
			<ul id="nav-links">
				<li><a href="http://erikj54.github.com">Blog</a></li>
				<li><a href="http://twitter.com/erikj54">Twitter</a></li>
				<li><a href="http://www.facebook.com/profile.php?id=510219946">Facebook</a></li>
				<li><a href="mailto:erikj54@gmail.com">Contact</a></li>
			</ul>
		</div>
	</div>

	<div class="main-content">
	<%= yield %>
<div id="disqus_thread"></div>
	</div>
	</div>
<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<div id="twitter-box">
<script>
new TWTR.Widget({
version: 2,
type: 'profile',
rpp: 4,
interval: 6000,
width: 200,
height: 300,
theme: {
shell: {
background: '#fff',
color: '#000'
},
tweets: {
background: '#aaa',
color: '#000',
links: '#557799'
}
},
features: {
scrollbar: false,
loop: false,
live: false,
hashtags: true,
timestamp: true,
avatars: false,
behavior: 'all'
		  }
}).render().setUser('erikj54').start();
</script>
</div>



<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'erikjohnson54blog'; // required: replace example with your forum shortname

// The following are highly recommended additional parameters. Remove the slashes in front to use.
 var disqus_identifier = '{{ post.id }}';
 var disqus_url = 'http://erikj54.github.com/{{post.url}}';

/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
 var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
 dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
 (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
 })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>




</body>
</html>
